:root {
  /* o esquema de cores usado aqui está em https://flatuicolors.com/palette/cn */
  --tomato: #ff6348;
  --tomato-dark: #ff4727;
  --prestige: #2f3542;
  --grisaile: #57606f;
  --twikle:  #ced6e0;
  --ufo: #2ed573;
  --lime:  #7bed9f;
  --white: #fff;
  --city: #dfe4ea;
  --flash: #f1f2f6;
  --bright: #3742fa;
  --chill: #1e90ff;
}

*, *:before, *:after {
  box-sizing:  border-box;
}

html, body {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, .logo, nav ul a {
  font-family: 'Passion One', cursive;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background: var(--city);
  box-shadow: 
    0 0 0 0 var(--flash),
    0 0 0 5px var(--city),
    0 0 0 10px var(--twikle);
}
header .container {
  width: calc(100% - 30px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  
}
nav ul{
  display: flex;
  list-style-type: none;
  height: 100%;
  align-items: center;
  grid-gap: 10px;
}
nav ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--prestige);
}
.logo {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  color: var(--tomato);
  text-shadow: 
    0.025em 0.025em 0 var(--city),
    0.05em 0.05em 0 var(--twikle),
    0.075em 0.075em 0 var(--grisaile),
    0.1em 0.1em 0 var(--prestige);
}
h1, h2 {
  text-transform: uppercase;
}
h1{
  width: 100%;
  margin: 0;
  font-size: clamp(32px, calc(2rem + (80 - 32) * ((100vw - 340px) / (1200 - 340))), 80px);
  color: var(--tomato);
  text-shadow: 
    0.025em 0.025em 0 var(--city),
    0.05em 0.05em 0 var(--twikle),
    0.075em 0.075em 0 var(--grisaile),
    0.1em 0.1em 0 var(--prestige);
}
h2 {
  font-size: clamp(24px, calc(1.5rem + (40 - 24) * ((100vw - 340px) / (1200 - 340))), 40px);
  background: -webkit-linear-gradient(to bottom, var(--bright), var(--chill));
  background: -moz-linear-gradient(to bottom, var(--bright), var(--chill));
  background: linear-gradient(to bottom, var(--bright), var(--chill));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
h2::before {
  content:  '';
  width: 100px;
  height: 5px;
  background: linear-gradient(to left, var(--bright), var(--chill));
  position: absolute;
  bottom: -5px;
  left: 0;
}
.banner {
  margin-top: 70px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--white);
  position: relative;
}
.banner .container {
  width: calc(100% - 120px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
}
.banner p {
  max-width: 600px;
  width: 100%;
  line-height: 150%;
  color: var(--grisaile);
  font-size: clamp(16px, calc(1rem + (24 - 16) * ((100vw - 340px) / (1200 - 340))), 24px);
}
.banner p.full {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
@keyframes intro {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform:  translateX(0);
  }
}
.triangles {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80vh;
  background: var(--flash);
  clip-path: polygon(100% 0, 0% 100%, 0 0);
  z-index: 1;
  animation: intro cubic-bezier(.25,.1,.04,1.03) 1.3s forwards;
}
.triangles::before, .triangles::after {
  clip-path: polygon(100% 0, 0% 100%, 0 0);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
.triangles::before {
  z-index: 2;
  width: 75%;
  height: 75vh;
  background: var(--city);
  animation: intro cubic-bezier(.25,.1,.04,1.03) 1s forwards;
}
.triangles::after {
  z-index: 3;
  width: 60%;
  height: 70vh;
  background: var(--twikle);
  animation: intro cubic-bezier(.25,.1,.04,1.03) 0.7s forwards;
}
.box {
  padding: 100px 0;
  position: relative;
}
.box ul {
  padding-left: 20px;
}
.box .container {
  max-width: 1200px;
  width: calc(100% - 40px);
  margin: 0 auto;
}
.box p, .box li {
  color: var(--prestige);
  line-height: 150%;
  font-size: clamp(16px, calc(1rem + (20 - 16) * ((100vw - 340px) / (1200 - 340))), 20px);
}
.box li {
  margin: 20px 0;
}
.box p a {
  color: var(--prestige);
  padding: 2px 5px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition:  all .2s ease-in-out;
}
.box p a:hover {
  background: var(--grisaile);
  color: #fff;
}
.box.box-begin, .box.box-participate, .box.box-be-part-of {
  background: var(--flash);
}
.box.box-begin::before, .box.box-participate::before, .box.box-be-part-of::before, .box.box-begin::after, .box.box-participate::after, .box.box-be-part-of::after {
  content: '';
  position: absolute;
  background: var(--flash);
  left: 0;
  width: 100%;
  height: 30px;
}
.box.box-begin::before, .box.box-participate::before, .box.box-be-part-of::before {
  top: -30px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.box.box-begin::after, .box.box-participate::after {
  bottom: -30px;
  clip-path: polygon(100% 0, 0 0, 0 100%);
}
.button {
  text-decoration: none;
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  max-width: 300px;
  background: var(--tomato);
  color: var(--white);
  border-radius: 0% 8px 8px 8px / 0% 8px 8px 8px;
  box-shadow:
    0 0 0 0 var(--city),
    3px 3px 0 0 var(--twikle),
    6px 6px 0 0 var(--grisaile),
    9px 9px 0 0 var(--prestige);
  transition: all .2s ease-in-out;
}
.button:hover {
  background: var(--tomato-dark);
  box-shadow:
    0 0 0 0 var(--city),
    2px 2px 0 0 var(--twikle),
    4px 4px 0 0 var(--grisaile),
    6px 6px 0 0 var(--prestige);
  transition: all .2s ease-in-out;
  border-radius: 8px 8px 8px 8px / 8px 8px 8px 8px;
}
.choose-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 20px 0;
}
.choose-item {
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  position: relative;
}
.choose-item:hover img {
  transition:  all .3s cubic-bezier(.02,.18,.19,.9);
  filter: grayscale(0);
}
.choose-item img {
  filter: grayscale(1);
  transform: translateY(0);
  transition:  all .3s cubic-bezier(.02,.18,.19,.9);
  will-change: filter;
  width: calc(100% - 20px);
  height: 300px;
  object-fit: cover;
  object-position: center top;
  border-radius: 0% 0% 10px 10px / 0% 0% 10px 10px;
  box-shadow:
    0 0 0 0 var(--city),
    3px 3px 0 0 var(--twikle),
    6px 6px 0 0 var(--grisaile),
    9px 9px 0 0 var(--prestige);
}
.news-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.news-item {
  padding: 20px;
  border-radius: 5px;
  transition:  all .3s cubic-bezier(.02,.18,.19,.9);
  background: var(--chill);
  box-shadow:
    0 0 0 0 var(--city),
    2px 2px 0 0 var(--twikle),
    4px 4px 0 0 var(--grisaile),
    6px 6px 0 0 var(--prestige);
  text-decoration: none;
}
.news-item:hover {
  transition:  all .3s cubic-bezier(.02,.18,.19,.9);
  background: var(--lime);
  box-shadow:
    0 0 0 0 var(--city),
    3px 3px 0 0 var(--twikle),
    6px 6px 0 0 var(--grisaile),
    9px 9px 0 0 var(--prestige);
}
.news-item:hover p, .news-item:hover strong {
  color: var(--prestige);
}
.news-item p {
  line-height: 150%;
  font-size: 14px;
  color: var(--white);
}
.news-item strong {
  color: var(--flash);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-size: 20px;
}

footer {
  display: block;
  padding: 20px 0;
  background: var(--prestige);
}
footer .container {
  text-align: center;
  width: calc(100% - 30px);
  margin: 0 auto;
}
footer p {
  color: var(--flash);
  margin: 0;
  font-size: 14px;
}

@media all and (max-width: 950px) {
  nav {
    display: none
  }
  header .container {
    justify-content: center
  }
  .logo {
    font-size: 26px
  }
  .choose-list {
    grid-gap: 20px;
  }
  .choose-item img {
    height: 225px
  }
  .news-list {
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr
  }
}

@media all and (max-width: 650px) {
  .choose-list, .news-list {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}